body {
    background-color: #ddf0e6;
}

.login-div {
    padding: 14px;
    border: solid 1px greenyellow;
    box-shadow: 0 0 5px red;
    display: inline-block;
    text-align: center;
}

.login-div input {
    display: block;
    margin-bottom: 7px;
}
